* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container_big {
    width: 100%;
    height: 881px;
    background: rgba(13, 13, 13, 0.95);
}

.nav {
    width: 100%;
    height: 50px;
}

.logo_text {
    font-weight: 700;
    font-size: 24px;
    font-family: sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 45px;
}

.logo_text span {
    color: #FF9F0D;
}

ul {
    display: flex;
}

ul li {
    list-style: none;
    color: white;
    font-weight: 400;
    font-size: 16px;
    font-family: sans-serif;
    display: flex;
    line-height: 14px;
    padding-left: 30px;
    cursor: pointer;
}

.bars {
    display: none;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;
    align-items: center;
}

.navbar input {
    border: 1px solid #FF9F0D;
    border-radius: 27px;
    width: 230px;
    height: 34px;
    outline: none;
    padding-left: 20px;
    font-weight: 400;
    font-size: 16px;
    background: rgba(13, 13, 13, 0.95);
    color: #FFFFFF;
    margin-right: 25px;
}

.sea {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sea_p {
    position: absolute;
    margin-left: 130px;
    color: white;
}

.home_text {
    display: flex;
    align-items: center;
}

.home_icon {
    padding: 150px 80px;
    line-height: 50px;
}

.home_icon .line {
    width: 2px;
    height: 200px;
    background-color: white;
    margin-left: 7px;
}

.home_icon .line1 {
    width: 2px;
    height: 200px;
    background-color: white;
    margin-left: 7px;
}

.home_icon p {
    color: white;
    cursor: pointer;
}

.home_icon .tw {
    color: #FF9F0D;
    line-height: 50px;
}

.tebut_p {
    font-family: 'Great Vibes';
    font-weight: 400;
    font-size: 32px;
    color: #FF9F0D;
    line-height: 40px;
}

.tebut_p1 {
    font-weight: 700;
    font-size: 60px;
    font-family: sans-serif;
    color: white;
    width: 472px;
    line-height: 68px;
    margin-top: 10px;
}

.tebut_p1 span {
    color: #FF9F0D;
}

.tebut_p2 {
    width: 418px;
    font-weight: 400;
    font-size: 16px;
    color: white;
    font-family: sans-serif;
    line-height: 24px;
    margin-top: 32px;
}

.tebut_btn {
    width: 190px;
    height: 60px;
    background: #FF9F0D;
    border-radius: 30px;
    color: white;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 32px;
}

.tebut_btn:hover {
    background-color: rgba(13, 13, 13, 0);
    border: 1px solid #FF9F0D;
}

.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home_img img {
    width: 600px;
    height: 450px;
}

/*-------------------------------- Page2 ------------------------------- */

.page2_big {
    width: 100%;
    height: 881px;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.page2_text_p {
    font-family: 'Great Vibes';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: #FF9F0D;
}

.page2_text_p1 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: white;
    width: 446px;
    margin-top: 8px;
}

.page2_text_p1 span {
    color: #FF9F0D;
}

.page2_text_p2 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: white;
    margin-top: 32px;
    width: 526px;
}

.page2_text_p3 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: white;
    margin-top: 24px;
}

.page2_btn {
    width: 190px;
    height: 60px;
    background: #FF9F0D;
    border-radius: 30px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: white;
    margin-top: 32px;
    cursor: pointer;
    transition: 0.5s;
}

.page2_btn:hover {
    background-color: black;
    border: 1px solid #FF9F0D;
    color: #FF9F0D;
}

.page2_img1 img {
    width: 500px;
    height: 280px;
}

.page2_img2 {
    display: flex;
}

.page2_img2 img {
    width: 250px;
    height: 160px;
}

/* ----------------------------------- Page3 ------------------------------------------ */

.page3_big {
    width: 100%;
    height: 1350px;
    background-color: black;
}

.page3_text_p {
    font-family: 'Great Vibes';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: #FF9F0D;
    display: flex;
    justify-content: center;
}

.page3_text_p1 {
    font-family: sans-serif;
    color: white;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.page3_text_p1 span {
    color: #FF9F0D;
}

.page3_img img {
    width: 280px;
    height: 300px;
    margin-top: 50px;
}

.page3_img {
    display: flex;
    justify-content: space-evenly;
}

/* ------------------------------------ Page3.1 ------------------------------------------- */

.page3_1_big {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 120px;
}


.page3_1_img1 .ssd {
    width: 332px;
    height: 326px;
}

.page3_1_img1 .ssd1 {
    width: 261px;
    height: 211px;
    margin-left: 16px;
}

.page3_1_img2 {
    display: flex;
}

.ssd2 {
    width: 224px;
    height: 286px;
    margin-top: 16px;
}

.ssd3 {
    width: 201px;
    height: 206px;
    margin-left: 16px;
    margin-bottom: 80px;
}

.ssd4 {
    width: 141px;
    height: 148px;
    margin-left: 16px;
    margin-top: 16px;
}

.page3_1_text_p {
    font-family: 'Great Vibes';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: #FF9F0D;
}

.page3_1_text_p1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    font-family: sans-serif;
    color: white;
    margin-top: 8px;
}

.page3_1_text_p1 span {
    color: #FF9F0D;
}

.page3_1_text_p2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: white;
    font-family: sans-serif;
    margin-top: 32px;
}

.page3_1_btn {
    display: flex;
    margin-top: 32px;
}

.page3_1_btn11 {
    width: 62px;
    height: 60px;
    background: #FF9F0D;
    border-radius: 6px;
    font-size: 25px;
    color: white;
}

.page3_1_btn1 {
    width: 62px;
    height: 60px;
    background: #FF9F0D;
    border-radius: 6px;
    font-size: 25px;
    color: white;
    margin-left: 33px;
}

.page3_1_btn_p1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    font-family: sans-serif;
    color: white;
}

.page3_1_btn_p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    font-family: sans-serif;
    color: white;
    margin-left: 45px;
}

.page3_1_yers {
    width: 280px;
    height: 72px;
    background-color: #FFFFFF;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
}

.lh {
    width: 6px;
    height: 72px;
    background-color: #FF9F0D;
    border-radius: 6px;
}

.page3_1_yers_p {
    font-weight: 700;
    font-size: 46px;
    line-height: 56px;
    font-family: sans-serif;
    color: #FF9F0D;
}

.page3_1_yers1 {
    margin-right: 10px;
}

.page3_1_yers1_p1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    font-family: sans-serif;
    color: #1E1E1E;
}

.page3_1_yers1_p2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    font-family: sans-serif;
    color: #1E1E1E;
}


/* --------------------------------------Page4------------------------------- */

.page4_big {
    background-image: url(./img/bag.png);
    display: flex;
    justify-content: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.page4_big_bag {
    background-color: #1e1e1eaf;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.page4_big_img1 {
    width: 80px;
    height: 80px;
    margin-left: 50px;
}

.page4_big_img2 {
    width: 80px;
    height: 80px;
    margin-left: 50px;
}

.page4_big_img3 {
    width: 80px;
    height: 80px;
    margin-left: 50px;
}

.page4_big_img {
    width: 80px;
    height: 80px;
    margin-left: 30px;
}

.page4_big_cok_p {
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    font-family: sans-serif;
    color: white;
    text-align: center;
}

.page4_big_cok_p1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    font-family: sans-serif;
    color: white;
    text-align: center;
}

